body {
  margin: 0 auto;
  font-family: 'Questrial', sans-serif;
  background: gainsboro;
}

.top_banner {
  Height: 20vh;
  background-image: url("http://www.psdgraphics.com/file/colorful-triangles-background.jpg");
  background-size: fit;
  text-align: center;
}

.top_banner img {
  text-align: center;
  max-width: 20vh;
  margin: 0 auto;
}

.title_bar {
  background: black;
  display: block;
  text-align: center;
  height: 3vh;
  line-height: 3vh;
}

.nav_item {
  color: white;
  padding: 1em;
}

.content {
  background: gainsboro;
  min-height: 65vh;
  padding: 1em;
  padding-left: 1.5em;
  max-width: 1000px;
  margin: 0 auto;
}

.content_wrap {
  background: white;
}

.footer {
  color: grey;
  text-align: center;
  background: black;
}

.main_menu {
  background: gainsboro;
  position: fixed;
  display: block;
  top: 0;
  left: -69vw;
  /*animation*/
  
  width: 70vw;
  height: 100vh;
  opacity: 0.75;
  transition: left 0.75s, opacity 0.5s, box-shadow 0.5s;
  box-shadow: 0px 10px 10px black;
  -webkit-animation-name: example;
  /* Chrome, Safari, Opera */
  
  -webkit-animation-duration: 1s;
  /* Chrome, Safari, Opera */
  
  animation-name: example;
  animation-duration: 1s;
}

.main_menu:hover {
  left: 0vw;
  box-shadow: 50px 0px 100px black;
  opacity: 0.95;
}

.menu_tag {
  width: 5vh;
  height: 5vh;
  background: red;
  position: absolute;
  right: -2.5vh;
  top: 2vh;
  opacity: 1;
  color: white;
  font-size: 2em;
  line-height: 5vh;
  text-align: center;
}

.menu_banner {
  width: 100%;
  height: 20vh;
  background-image: url("http://www.psdgraphics.com/file/colorful-triangles-background.jpg");
  background-position: center;
  position: relative;
}

.menu_item {
  background: gray;
  color: White;
  margin: 1.5vw auto;
  width: 75%;
  padding: 0.5em;
  font-size: 1.2em;
  box-shadow: -1px 1px 5px black;
}

.menu_banner_title {
  position: absolute;
  bottom: 2vw;
  left: 2vw;
  font-size: 2em;
  color: white;
  font-weight: bold;
}

.seperator {
  background: black;
  height: 1vh;
}

.card {
  background: #d6d6d6;
  padding: 0.75em;
  margin-bottom: 1em;
  box-shadow: -1px 1px 5px;
}

.card img {
  max-width: 95%;
  display: block;
  margin: 0.2em auto;
}

.card_title {
  background: black;
  color: White;
  font-size: 1.5em;
  text-align: center;
  padding: 0.25em;
  margin-bottom: 0.5em;
}

.menu_wrap {
  overflow-y: scroll;
  max-height: 70vh;
  background: #d6d6d6;
}
/* Standard syntax */

@keyframes example {
  from {
    left: -30vw;
  }
  to {
    left: -69vw;
  }
}
/* Chrome, Safari, Opera */

@-webkit-keyframes example {
  from {
    left: -30vw;
  }
  to {
    left: -69vw;
  }
}